<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Відповідна квартира</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>

<body>

<header>

    <nav>

        <a th:href="@{/}">Меню</a>

        <a th:href="@{/forms/new}">Введення заявки</a>

        <a th:href="@{/forms}">Перегляд заявок</a>

    </nav>

</header>

<div class="content">

    <h1>Відповідна квартира</h1>

    <h2>Знайдена відповідна квартира для вашої заявки:</h2>

    <p><b>Власник:</b> <span th:text="${matchingApplication.surname} + ' ' + ${matchingApplication.initials}"></span></p>

    <table>

        <tr>

            <th>Кількість кімнат</th>

            <th>Площа</th>

            <th>Поверх</th>

            <th>Район</th>

        </tr>

        <tr>

            <td th:text="${matchingApplication.availableApartment.rooms}"></td>

            <td th:text="${matchingApplication.availableApartment.area}"></td>

            <td th:text="${matchingApplication.availableApartment.floor}"></td>

            <td th:text="${matchingApplication.availableApartment.district}"></td>

        </tr>

    </table>

</div>

</body>

</html>