<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Немає підходящих заявок</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Меню</a>
        <a th:href="@{/forms}">Перегляд заявок</a>
        <a th:href="@{/forms/new}">Додати нову заявку</a>
    </nav>
</header>
<div class="content">
    <h1>Немає підходящих заявок</h1>
    <p>Зараз немає підходящих заявок. Ваша заявка була додана до бази даних.</p>
</div>
</body>
</html>